<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Solicitaste un cambio de contraseña.</p>
        <p>Por favor clickea en el siguiente link para realizar el reset de tu contraseña.</p>
        <a href="https://{{link}}">Reset Password</a>
    </body>
</html>